.currentAccountContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.currentAccountList {
    overflow-y:scroll;
    grid-row: span 1;
    justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
}

.currentAccountList table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.currentAccountList th,.currentAccountList td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

.currentAccountList th {
    background-color: #333;
    color: #fff;
}

.currentAccountList tr:nth-child(even) {
    background-color: #f2f2f2;
}

.currentAccountList tr {
    line-height: 2px;
}

.form {
    display: block;
    width: 700px;
    padding: 16px;
    grid-row: span 1;
    margin: auto;
}

.form label {
    width: 300px;
    font-weight: bold;
    display: inline-block;
}

.form input[type="text"] {
    width: 350px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

.form input[type="number"] {
    width: 350px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}


.form button[type="button"] {
    width: 300px;
    padding: 8px 16px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}