.fixed-panel {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

 .horarios {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
} 

.horarios4 {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-weight: bold;
  list-style: none;
  margin-top: 60px;
  padding: 0;
} 

.cancha {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}


/* .hour {
  height: 100px;
  text-align: center;
  padding-top: 10%;
  border: 1px solid black;
} */

.turn, .hour {
  width: 350px;
  height: 150px;
  /* border: 1px solid black; */
  /* text-align: center;
  top: 50%;
  padding-top: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0px 2px 8px #3333334f;
  border-radius: 8px;
}


.hour {
  height: 43.4px;
}

.separate {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #f2f2f2;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form button[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form button[type="submit"]:hover{
	cursor:pointer;
}

.calendar {
  align-items: center;
}

.logo {
  width: 200px;
}
